/* AdminDashboard.css */
.admin-dashboard {
  height: 100%;
  background-color: #f5f5f5;

  main {
    display: flex;
    padding: 24px;
    gap: 24px;

    .sidebar {
      min-width: 8%;
      padding: 16px;
      background-color: white;
    }

    .content {
      position: relative;
      flex-grow: 1;

      > Button {
        position: absolute;
        right: 0;
      }

      .content-details {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        padding: 16px 0;
        min-height: 150px;
      }
    }
  }
}
